.mat-drawer-content {
  height: 100vh;
}

.container-1 {
  width: 90%;
  margin: 5%;
}

.remaining-space {
  flex: 1 1 auto;
}

.side-nav {
  background-color: #051e34;
}

.mat-list-base .mat-subheader {
  color: white;
}

.grey-text  {
  color: lightgrey;
}

.mat-list-base .mat-list-item {
    color: lightgrey;
}

.logo {
    margin-bottom: 3rem;
}

.title {
  margin-right: 0.5rem;
}

.name {
  color: #f44336;
}