/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    display: grid;
    margin: 3rem 2rem 3rem 1rem;
    max-width: 30rem;
    align-content: baseline;
}

.button-right {
    float: right;
    margin-bottom: 2rem;
}

.mat-form-field-suffix .mat-icon {
    color: gray;
}
